body{
    margin: 0;
    min-height: 100vh;
    margin: 0;
    padding: 0;   
    background: linear-gradient(to right, #060439, #22484F, #172E32);
}
h1{
    color: #999C9E;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Times;
    text-align: center;
}
p{
    text-align: center;
    color: #8989A9;
}
