  
body{
    background: url(Fondo.jpg);
}
h1{
    color: #999C9E;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Times;
    text-align: center;
}
p{
    color: #8989A9;
    text-align: center
}
